# Dependencies
/node_modules

# Compiled files
# /dist

# Environment variables (personal overrides — optional)
.env
.env.local
.local.env

# MacOS folder attributes
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
